body{
    background-color: #111732;
    overflow: overlay;
}
::-webkit-scrollbar{
    width: 10px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color:transparent;
}